html, body, form, div {
	margin: 0;
	padding: 0;
}

textarea, #page-edit-html {
	font-family: Courier New;
	font-size: 14px;
}

.page {
	position: relative;
	height: 99%;
	display: none;
}

.page-header-menu {
	background-color: #000;
}
.page-header-menu a {
	color: #fff;
	text-decoration: none;
	padding: 2px 4px 2px 4px;
	cursor: pointer;
}

.page-content {
	position: relative;
}
.page-content-left
, .page-content-right {
	float: left;
	width: 45%;
	height: 100%;
}

#page-edit-view, .page-header-menu {
	padding: 5px;
}
textarea#page-edit-editor {
	height: 100%;
	width: 100%;
	padding: 5px;
	border: 0px;
}
#page-edit-html {
	padding: 10px 5px;
}
.highlight-attribute-name {
	color: #B20D9C;
}
.highlight-attribute-value {
	color: #f00;
}
.highlight-tag {
	color: #00f;
}
.highlight-symbol {
	color: #000;
}
