
body {
	width: 80%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}

p {
	margin: 10px 0px 4px 0px;
}

a {
	text-decoration: none;
}

pre, .view-code-editor {
	font-family: Monospace;
	font-size: 16px;
}

pre, code {
	background-color: #ddd;
}

pre {
	padding: 4px 8px;
}

code {
	padding: 2px 4px;
}

/** @section main layout **/

section.posts {
	float: left;
	width: 70%;
}

section.sidebar {
	float: right;
	width: 25%;
}

/** @section posts **/

section.posts header {
	margin-bottom: 10px;
}

/** @section navigation bar **/

nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

body > header {
	position: relative;
	display: block;
	background-color: #000;
	color: #fff;
	padding: 7px;
	margin-bottom: 15px;
}

body > header h1 {
	font-size: 16px;
}

/** 
 * the top and right should be of "body > header nav"
 * the same as padding of "body > header nav a" 
 **/

body > header nav {
	position: absolute;
	top: 5px;
	right: 5px;
	text-align: right;
}

body > header nav a {
	padding: 5px;
	color: #fff;
}

body > header nav a:hover {
	background-color: #999;
}

body > header nav li {
	display: inline;
}

/** @section sidebar **/

section.sidebar nav {
	margin: 10px auto;
}

section.sidebar nav a {
	display: block;
	padding: 7px 5px;
}

section.sidebar nav a:hover {
	background-color: #eee;
}

section.sidebar li {
	line-height: 20px;
}

span.keyword {
	background-color: #eee;
}

/** @section markdown editor **/

.view-code-editor
, .view-html
, .view-preview
 {
	font-family: Monospace;
	font-size: 16px;
	padding: 10px;
	width: 100%;
	border: 1px solid #ddd;
}

.view-code-editor {
	height: 80%;
}

.mde-html-tag {
	color: #00f;
}

article ol {
	margin-top: 0px;
}


